<nz-tabset>
  <nz-tab nzTitle="說明">

    <h2>以下的動態Guard的偵測啟動，可以設定在調用某個Function的時候執行，或是直接在網頁啟動的時候執行。</h2>

    <ul>
      <li>Script Verification</li>
      <li>Debug Detection</li>
      <li>Domain Lock</li>
      <li>User Agent Lock</li>
      <li>Automation Detection</li>
      <li>Web App Integrity</li>
      <li>Time Lock</li>
      <li>Code Lifting Detection（Hybird）</li>
    </ul>

    <h3>以下是一個Domain Lock的範例應用，點擊後才會開始偵測網站的Domain，偵測是否為Localhost</h3>

    <div nz-row>
      <h3>你的HostName為:{{hostname}}</h3>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="activeArxanInvocationA()">Domain Lock偵測(進入點 A)</button>
      </div>


    </div>

    <nz-collapse>
      <nz-collapse-panel nzHeader="Guardspec的設定方式" nzActive="false" nzDisabled="false">
        <div nz-col nzSpan="24">
          <img nz-image width="70%" nzSrc="assets/guards/invocation/1.png" alt="" />
        </div>
        <br>
        <div nz-col nzSpan="24">
          <img nz-image width="70%" nzSrc="assets/guards/invocation/2.png" alt="" />
        </div>
      </nz-collapse-panel>
    </nz-collapse>

    <h3>進入點測試：</h3>

    <div nz-row [nzGutter]="4">
      <div nz-col nzSpan="8">
        <button nz-button nzType="primary" (click)="activeArxanInvocationB()">Domain Lock偵測(進入點 B)</button>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button nzType="primary" (click)="activeArxanInvocationC()">Domain Lock偵測(進入點 C)</button>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button nzType="primary" (click)="activeArxanInvocationD()">Domain Lock偵測(進入點 D)</button>
      </div>
    </div>

  </nz-tab>

</nz-tabset>