<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            nzBreakpoint="lg"
            [nzCollapsedWidth]="0"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <img src="assets/arxanLogo.png" alt="logo">
        <h1>Web Project</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- Main Category -->
      <li nz-submenu [(nzOpen)]="openMap.sub1" (nzOpenChange)="openHandler('sub1')" nzTitle="Main Home" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">Web Project</a>
          </li>
        </ul>
      </li>
      <!-- Second Category -->
      <li nz-submenu [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')" nzTitle="Scond Page" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/identifierRenaming">Second Page</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" style="background: aliceblue;">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>

      <ul nz-menu nzTheme="light" nzMode="horizontal" style="margin-left: 68px;">
        <li nz-menu-item routerLink="/home" nzMatchRouter>Home</li>
        <li nz-menu-item routerLink="/labs" nzMatchRouter>Labs</li>
        <li nz-menu-item routerLink="/games" nzMatchRouter>Games</li>
      </ul>
      
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow: auto">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  <nz-footer style="text-align: center;padding: 5px 50px;color: rgba(0, 0, 0, 0.85);font-size: 12px;">© 2022 - {{nowYear}} GSS All Rights Reserved. Designed by Leon Lin</nz-footer>
  </nz-layout>
</nz-layout>

<style>
@media screen and (min-width: 992px) {
  .mini-size-show {
    display: none;
  }
}
.app-header{
  position: absolute;
}
</style>