<h2>把 Method 名稱及變數，甚至是 Method 傳入的參數進行重新命名，以無意義的方式，使他人拿到程式碼無法利用這些變數名稱做分析。</h2>

<div nz-row [nzGutter]="8">
  <div nz-col class="gutter-row" [nzSm]="32" [nzMd]="12">
    <nz-divider nzOrientation="center" nzText="防護前"></nz-divider>
    <div class="inner-box">
      <img nz-image width="100%" nzSrc="assets/guards/indentifier-renaming/1.png" alt="" />
    </div>
  </div>

  <div nz-col class="gutter-row" [nzSm]="32" [nzMd]="32">
    <nz-divider nzOrientation="center" nzText="防護後"></nz-divider>
    <div class="inner-box">
      <img nz-image width="100%" nzSrc="assets/guards/indentifier-renaming/2.png" alt="" />
    </div>
  </div>

  <div nz-col class="gutter-row" [nzSm]="32" [nzMd]="32">
    <nz-divider nzOrientation="center" nzText="防護前後對比"></nz-divider>
    <div class="inner-box">
      <img nz-image width="100%" nzSrc="assets/guards/indentifier-renaming/3.png" alt="" />
    </div>
  </div>
</div>
